.grid {
  margin: 0 auto; // When the screen is larger than 1680px, the grid will be centered in comparison to the container
  display: grid;
  grid-column: 2 / span 4;
  grid-template-columns: repeat(4, minmax(auto, 364px));
  grid-row: 2 / span 4;
  grid-gap: 20px;
}

.item {
  grid-column: span 1;
  &:hover {
    cursor: pointer;
  }
}

.itemLarge {
  grid-row-start: 1;
  grid-row-end: span 2;
}

.itemDefault {
  grid-column: span 1;
}
