@use "src/styles/variables" as v;

.card {
  align-items: center;
  background-color: v.$white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 364px;
  width: 100%;
}
